.input-group>.custom-file+.custom-file, .input-group>.custom-file+.custom-select, .input-group>.custom-file+.form-control, .input-group>.custom-select+.custom-file, .input-group>.custom-select+.custom-select, .input-group>.custom-select+.form-control, .input-group>.form-control+.custom-file, .input-group>.form-control+.custom-select, .input-group>.form-control+.form-control {
    margin-left: 10px;
}
.col-3 {
    /* -ms-flex: 0 0 25%; */
    flex: 0 0 80%;
    max-width: 80%;
}
.form-auto{
    height: 100vh;
    margin-top: 25px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0; 
}
.btna{
    margin-left: 90% !important;
    margin-bottom: 10px;
    width: 155px;
    height: 40px;
    color:whitesmoke;
    font-size: 20px;
    font-weight: 700;
    background-color: brown;
    border-radius: 10px;
    border-color: brown;
}
@media screen and (max-width: 736px){
    .btna{
        justify-content: center;
        align-items: flex-end;
        right: 150%;
        margin-top: 10px;
        margin-left: 70% !important;
        margin-bottom: 10px;
        width: 80px;
        height: 40px;
        color:whitesmoke;
        font-size: 20px;
        font-weight: 700;
        background-color: brown;
        border-radius: 10px;
        border-color: brown;
    }
}
#input{
    margin-top: 10px;
}

@media screen and (max-width: 736px){
    #input{
        width: 257px;
        height: auto;
    }
}



